body {
    background: rgb(13,175,222);
    background: linear-gradient(90deg, rgba(13,175,222,1) 0%, rgba(213,237,15,1) 100%);
}

#container {
    width: 546px;
    margin-top: 60px;
    margin-left: 415px;
    height: 425px;
}

#reset {
    margin-left: 647px;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    border: solid gainsboro;
}

.box {
    height: 140px;
    width: 180px;
    float: left;
    color: gainsboro;
    text-align: center;
    font-size: 95px;
    border: none;
    background: transparent;
}


#one-one {
    border-right: solid gainsboro;
    border-bottom: solid gainsboro;
}

#one-two {
    border-right: solid gainsboro;
    border-bottom: solid gainsboro;
}

#one-three {
    border-bottom: solid gainsboro;
}


#two-one {
    border-right: solid gainsboro;
    border-bottom: solid gainsboro;
}

#two-two {
    border-right: solid gainsboro;
    border-bottom: solid gainsboro;
}

#two-three {
    border-bottom: solid gainsboro;
}


#three-one {
    border-right: solid gainsboro;
}

#three-two {
    border-right: solid gainsboro;
}